DATABASE_URL="your-db-url"
CORSAIR_KEK=
AUTH_SECRET=your-random-secret
AUTH_GOOGLE_ID=your-google-client-id
AUTH_GOOGLE_SECRET=your-google-client-secret
CORSAIR_BASE_URL=http://localhost:3000/api/corsair
NEXT_PUBLIC_APP_URL=http://localhost:3000
GOOGLE_GENERATIVE_AI_API_KEY=